.vk {
    width: 19px;
    height: 11px;
    display: inline-block;
    background: url('../../icons/vk.png') center (center/cover) no-repeat;
    margin: auto 0;
}

.facebook {
    width: 9px;
    height: 16px;
    display: inline-block;
    background: url('../../icons/facebook.png') center (center/cover) no-repeat;
    margin: auto 0;
}

.twitter {
    width: 19px;
    height: 15px;
    display: inline-block;
    background: url('../../icons/twitter.png') center (center/cover) no-repeat;
    margin: auto 0;
}

 .ok {
    width: 13px;
    height: 19px;
    display: inline-block;
    background: url('../../icons/ok.png') center (center/cover) no-repeat;
    margin: auto 0;
}

.instagram {
    width: 19px;
    height: 19px;
    display: inline-block;
    background: url('../../icons/instagram.png') center (center/cover) no-repeat;
    margin: auto 0;
}

.youtube {
    width: 19px;
    height: 19px;
    display: inline-block;
    background: url('../../icons/youtube.png') center (center/cover) no-repeat;
    margin: auto 0;
}